openapi: 3.1.0
info:
  title: Online API
  version: v2
servers:
  - url: 'https://global-api-sandbox.afterpay.com'
    description: Sandbox
  - url: 'https://global-api.afterpay.com'
    description: Production
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
  schemas:
    Merchant-limit:
      title: Merchant limits
      x-stoplight:
        id: o2q158b4xkzv8
      type: object
      properties:
        minimumAmount:
          $ref: ../models/Money.yaml
          x-stoplight:
            id: 58k7p5kq892yb
        maximumAmount:
          $ref: ../models/Money.yaml
          x-stoplight:
            id: x4anizoleyps5
        publicId:
          type: string
          description: Merchant public identifier (MPID). Returned only when `include=publicid` is requested and a public mapping exists for the merchant.
          example: 6956dfdf-c4f6-4881-aa49-230a9454d39b
        consumerLending:
          type: object
          description: Returned only when `include=consumerlending` is requested. Indicates whether consumer lending is enabled for the merchant's online channel and, when enabled, the eligible order amount range.
          properties:
            enabled:
              type: boolean
              description: Whether consumer lending is enabled for this merchant.
            minimumAmount:
              $ref: ../models/Money.yaml
              description: Minimum eligible order amount when consumer lending is enabled.
            maximumAmount:
              $ref: ../models/Money.yaml
              description: Maximum eligible order amount when consumer lending is enabled.
        payByInstallment:
          type: object
          description: Returned only when `include=paybyinstallment` is requested and pay by installment is configured for the merchant. Contains the eligible order amount range for pay by installment.
          properties:
            minimumAmount:
              $ref: ../models/Money.yaml
              description: Minimum eligible order amount for pay by installment.
            maximumAmount:
              $ref: ../models/Money.yaml
              description: Maximum eligible order amount for pay by installment.
      examples:
        - minimumAmount:
            amount: '10.00'
            currency: USD
          maximumAmount:
            amount: '2000.00'
            currency: USD
    ConfigurationMappings:
      title: Cash App Pay Configuration Mappings
      type: object
      properties:
        name:
          type: string
          description: Name of the brand to be shown in Cash App next to payments.
          minLength: 1
          maxLength: 255
          example: 'Good Pour Coffee'
        externalBrandId:
          type: string
          description: The brand identifier for the AP <> Cash App Pay merchant mapping.
          example: BRAND_bmxk000ucdrvljq0000yhild
      required:
        - name
        - externalBrandId
security:
  - sec0: []
paths:
  /v2/configuration:
    get:
      summary: Get Configuration
      description: |-
        This endpoint is used to retrieve the merchant's applicable payment limits.

        A request to [Create Checkout](./Checkouts.v2.yaml/paths/~1v2~1checkouts/post) may be rejected if the order amount is not between the `minimumAmount` and `maximumAmount` (inclusive).

        Afterpay merchant configuration does not change frequently. For this reason, the configuration response will include Cache-Control headers in order to minimise network round trips when using a modern HTTP client. Get configuration should be called on a fixed schedule, preferably once per day.

        **Connection Timeouts**
        | Timeout | Time (Seconds) |
        |---------|----------------|
        | Open    | 10             |
        | Read    | 20             |

        **Example request**

        `GET /v2/configuration?include=publicid&include=consumerlending&include=paybyinstallment`
      operationId: get-configuration
      parameters:
        - name: User-Agent
          in: header
          required: true
          schema:
            type: string
            example: 'MyAfterpayModule/1.0.0 (E-Commerce Platform Name/1.0.0; PHP/7.0.0; Merchant/60032000) https://merchant.example.com'
          description: 'View our [User-Agent](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/v-1/api-reference/online-api/request-headers/user-agent-request-header) page for formatting details'
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
        - name: include
          in: query
          required: false
          description: |-
            Repeat this query parameter to include optional configuration fields in the response. The endpoint always returns `minimumAmount` and `maximumAmount`.

            Supported values:
            - `publicid`: include `publicId`, the merchant public identifier (MPID) when one exists.
            - `consumerlending`: include `consumerLending`, which indicates whether consumer lending is enabled and, when enabled, the eligible minimum and maximum order amounts.
            - `paybyinstallment`: include `payByInstallment`, the configured pay by installment minimum and maximum eligible order amounts.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          examples:
            optionalFields:
              value:
                - publicid
                - consumerlending
                - paybyinstallment
      deprecated: false
      responses:
        '200':
          description: |
            Returns a [configuration](./Configuration.v2.yaml/components/schemas/Merchant-limit) object containing the following attributes.
            | Attribute | Type           | Description |
            |-----------|----------------| ----------- |
            | `minimumAmount`    | Money    | Minimum order amount. Note: This attribute may not be included if the Merchant account has no minimum order amount.
            | `maximumAmount`    | Money    | Maximum order amount.
            | `publicId`    | string    | Merchant public identifier (MPID). Returned when `include=publicid` is requested and a public mapping exists for the merchant.
            | `consumerLending`    | object    | Returned when `include=consumerlending` is requested. Contains `enabled` and, when enabled, `minimumAmount` and `maximumAmount` for consumer lending.
            | `payByInstallment`    | object    | Returned when `include=paybyinstallment` is requested and pay by installment is configured for the merchant. Contains `minimumAmount` and `maximumAmount`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant-limit'
              examples:
                Retrieved:
                  value:
                    minimumAmount:
                      amount: '1.01'
                      currency: AUD
                    maximumAmount:
                      amount: '1000.00'
                      currency: AUD
                    publicId: 6956dfdf-c4f6-4881-aa49-230a9454d39b
                    consumerLending:
                      enabled: true
                      minimumAmount:
                        amount: '10.00'
                        currency: AUD
                      maximumAmount:
                        amount: '20.00'
                        currency: AUD
                    payByInstallment:
                      minimumAmount:
                        amount: '1.00'
                        currency: AUD
                      maximumAmount:
                        amount: '10.00'
                        currency: AUD
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  errorId:
                    type: string
                  message:
                    type: string
                  httpStatusCode:
                    type: integer
                x-examples:
                  Example 1:
                    errorCode: unauthorized
                    errorId: 6024ab212498442
                    message: Credentials are required to access this resource.
                    httpStatusCode: 401
              examples:
                Unauthorized:
                  value:
                    errorCode: unauthorized
                    errorId: 6024ab212498442
                    message: Credentials are required to access this resource.
                    httpStatusCode: 401
  /v2/configuration/mappings:
    get:
      summary: Get Configuration Mappings
      description: |-
        To set-up Cash App Pay on file, use this endpoint to retrieve your Cash App Pay brand ID.
      operationId: get-configuration-mappings
      parameters:
        - name: User-Agent
          in: header
          required: true
          schema:
            type: string
            example: 'MyAfterpayModule/1.0.0 (E-Commerce Platform Name/1.0.0; PHP/7.0.0; Merchant/60032000) https://merchant.example.com'
          description: 'View our [User-Agent](https://afterpay.docs.buildwithfern.com/afterpay-online-developer/v-1/api-reference/online-api/request-headers/user-agent-request-header) page for formatting details'
        - name: Accept
          in: header
          description: 'Accept'
          schema:
            type: string
            default: application/json
      deprecated: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationMappings'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    example: unauthenticated
                  errorId:
                    type: string
                    example: '6024ab212498442'
                  message:
                    type: string
                    example: Invalid Merchant API credentials were passed in the Authorization header.
                  httpStatusCode:
                    type: integer
                    example: 401
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    example: unauthorized
                  errorId:
                    type: string
                    example: '6024ab212498442'
                  message:
                    type: string
                    example: The request was forbidden
                  httpStatusCode:
                    type: integer
                    example: 403
