openapi: 3.1.0
info:
  title: Network API
  version: '1.0'
  description: 'The Cash App Network API connects clients to process transactions on the Cash App network, including functionality for creating payments and refunds, managing disputes, onboarding merchants, and storing customers for on-file payments.'
  contact:
    url: 'https://developers.cash.app'
    email: developers@cash.app
    name: Cash App
  termsOfService: 'https://cash.app/legal/us/en-us/tos'
servers:
  - url: 'https://api.cash.app/network/v1'
    description: Production
  - url: 'https://sandbox.api.cash.app/network/v1'
    description: Sandbox
paths:
  /brands:
    parameters:
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    get:
      summary: List brands
      tags:
        - Brands
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  brands:
                    type: array
                    minItems: 0
                    uniqueItems: true
                    maxItems: 100
                    description: List of brands matching the given query parameters.
                    items:
                      $ref: '#/components/schemas/Brand'
                  cursor:
                    type: string
                    description: 'The pagination cursor to be used in a subsequent request. If empty, this is the final response.'
                required:
                  - brands
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: list-brands
      description: |-
        Returns a list of brands matching the given query parameters.

        **This endpoint is rate limited to 50 QPS.**

        Scopes: `BRANDS_READ`
      parameters:
        - schema:
            type: string
            minLength: 1
          in: query
          description: A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query.
          name: cursor
        - schema:
            type: integer
            maximum: 100
            minimum: 1
            default: 50
          in: query
          name: limit
          description: Maximum number of brands to return.
        - schema:
            type: string
            minLength: 1
            maxLength: 1024
          in: query
          name: reference_id
          description: Filters results to only include brands with a `reference_id` matching the given value.
      security:
        - Client:
            - BRANDS_READ
    post:
      summary: Create brand
      operationId: create-brand
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  brand:
                    $ref: '#/components/schemas/Brand'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      description: |-
        Creates a new brand with the given attributes.

        **This endpoint is not rate limited.**

        Scopes: `BRANDS_WRITE`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - idempotency_key
                - brand
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                brand:
                  type: object
                  description: Details about the brand to create.
                  additionalProperties: false
                  required:
                    - name
                    - reference_id
                  properties:
                    name:
                      type: string
                      minLength: 1
                      maxLength: 1024
                      description: |-
                        Name of the brand to be shown in Cash App next to payments.

                        Min length: `1`
                        Max length: `1024`
                    reference_id:
                      type: string
                      description: |-
                        A user-defined identifier for this brand, typically used to associate the brand with a record in an external system.

                        **Must be unique across all brands. Independent from the [merchant reference_id](https://developers.cash.app/docs/api/network-api/operations/create-a-merchant#request-body)**

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                    profile_image_url:
                      type: string
                      description: |-
                        URL to the image that should be shown in Cash App next to payments made to this brand, typically the brand's logo.

                        The image should be square and be at least 256x256. It must be less than 2MB in filesize.

                        Acceptable image formats:
                        - `png`
                        - `jpg`
                        - `jpeg`

                        Min length: `8`
                        Max length: `8000`
                      format: uri
                      minLength: 1
                      maxLength: 1024
                    color:
                      type: string
                      description: |-
                        Primary color associated with this brand and its logo, in 6-digit hex code format.

                        Pattern: `^#[a-fA-F0-9]{6}$`
                        Min length: `7`
                        Max length: `7`
                      pattern: '^#[a-fA-F0-9]{6}$'
                      minLength: 7
                      maxLength: 7
                      example: '#ffffff'
                    metadata:
                      $ref: '#/components/schemas/Metadata'
            examples:
              Sample request with metadata:
                value:
                  idempotency_key: e345c3fb-1caa-46fd-b0d3-aa6c7b00ab19
                  brand:
                    name: brand name
                    reference_id: reference ID
                    profile_image_url: 'https://example.com'
                    color: '#ffffff'
                    metadata:
                      key: value
              Sample request without metadata:
                value:
                  idempotency_key: e345c3fb-1caa-46fd-b0d3-aa6c7b00ab19
                  brand:
                    name: brand name
                    reference_id: reference ID
                    profile_image_url: 'https://example.com'
                    color: '#ffffff'
                    metadata:
                      key: value
        description: ''
      tags:
        - Brands
      security:
        - Client:
            - BRANDS_WRITE
    put:
      summary: Upsert brand
      operationId: upsert-brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  brand:
                    $ref: '#/components/schemas/Brand'
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  brand:
                    $ref: '#/components/schemas/Brand'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Brands
      description: |-
        Creates or updates a brand based on the brand's `reference_id`.

        If a brand with a matching `reference_id` is found, 
        it will be updated. Ensure proper mapping; if no matching brand is found, 
        a new one will be created. 

        The HTTP response code (`200 OK` or `201 Created`) indicates
        whether the resource was updated or created, respectively.

        <Info>
        <b><code>brand_id</code></b> is the primary unique identifier for all Brand APIs.<br/>
        Be cautious when using <code>reference_id</code> as a unique identifier.
        </Info>

        **This endpoint is not rate limited.**

        Scopes: `BRANDS_WRITE`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - brand
              properties:
                brand:
                  type: object
                  description: Details about the brand to create or update.
                  additionalProperties: false
                  required:
                    - name
                    - reference_id
                  properties:
                    name:
                      type: string
                      minLength: 1
                      maxLength: 255
                      description: |-
                        Name of the brand to be shown in Cash App next to payments.

                        Min length: `1`
                        Max length: `1024`
                    reference_id:
                      type: string
                      minLength: 1
                      maxLength: 1024
                      description: |-
                        A user-defined identifier for this brand, typically used to associate the brand with a record in an external system.

                        **Must be unique across all brands.  Independent from the [merchant reference_id](https://developers.cash.app/docs/api/network-api/operations/create-a-merchant#request-body)**

                        Min length: `1`
                        Max length: `1024`
                    profile_image_url:
                      type: string
                      minLength: 1
                      maxLength: 1024
                      description: |-
                        URL to the image that should be shown in Cash App next to payments made to this brand, typically the brand's logo.

                        The image should be square and be at least 256x256. It must be less than 2MB in filesize.

                        Acceptable image formats:
                        - `png`
                        - `jpg`
                        - `jpeg`

                        Min length: `8`
                        Max length: `8000`
                      format: uri
                    color:
                      type: string
                      minLength: 7
                      maxLength: 7
                      description: |-
                        Primary color associated with this brand and its logo, in 6-digit hex code format.

                        Pattern: `^#[a-fA-F0-9]{6}$`
                        Min length: `7`
                        Max length: `7`
                      pattern: '^#[a-fA-F0-9]{6}$'
                      example: '#ffffff'
                    metadata:
                      $ref: '#/components/schemas/Metadata'
            examples:
              Sample request with metadata:
                value:
                  brand:
                    name: brand name
                    reference_id: reference ID
                    profile_image_url: 'https://example.com'
                    color: '#ffffff'
                    metadata:
                      key: value
              Sample request without metadata:
                value:
                  brand:
                    name: brand name
                    reference_id: reference ID
                    profile_image_url: 'https://example.com'
                    color: '#ffffff'
        description: ''
      security:
        - Client:
            - BRANDS_WRITE
  '/brands/{brand_id}':
    parameters:
      - schema:
          type: string
          example: B_jsrnuiix
          minLength: 1
          maxLength: 128
        name: brand_id
        in: path
        required: true
        description: ID of the brand.
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    get:
      summary: Retrieve brand
      tags:
        - Brands
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  brand:
                    $ref: '#/components/schemas/Brand'
                required:
                  - brand
              examples:
                Example:
                  value:
                    brand:
                      id: string
                      name: string
                      profile_image_url: 'https://example.com'
                      color: '#ffffff'
                      reference_id: string
                      created_at: '2021-01-01T00:00:00Z'
                      updated_at: '2021-01-01T00:00:00Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example:
                  value:
                    errors:
                      - category: INVALID_REQUEST_ERROR
                        code: BRAND_NOT_FOUND
                        detail: No brand was found for the given ID.
      operationId: retrieve-brand
      description: |-
        Returns a brand matching the given `brand_id`.

        **This endpoint is not rate limited.**

        Scopes: `BRANDS_READ`
      security:
        - Client:
            - BRANDS_READ
    patch:
      summary: Update brand
      operationId: update-brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  brand:
                    $ref: '#/components/schemas/Brand'
              examples:
                Example:
                  value:
                    brand:
                      id: B_jsrnuiix
                      name: Out of this World
                      profile_image_url: 'https://example.com'
                      color: '#ffffff'
                      reference_id: external-id
                      created_at: '2021-01-01T00:00:00Z'
                      updated_at: '2021-01-01T00:00:00Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Invalid Color:
                  value:
                    errors:
                      - category: INVALID_REQUEST_ERROR
                        code: VALUE_REGEX_MISMATCH
                        detail: 'Expected brand.color to match pattern: ^#[a-fA-F0-9]{6}$.'
                        field: brand.color
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - brand
              properties:
                brand:
                  type: object
                  description: Details about the brand to update
                  additionalProperties: false
                  properties:
                    name:
                      type: string
                      minLength: 1
                      description: |-
                        Name of the brand to be shown in Cash App next to payments.

                        *This field cannot be cleared.*

                        Min length: `1`
                        Max length: `1024`
                      maxLength: 1024
                      example: My Brand
                    reference_id:
                      type: string
                      minLength: 1
                      description: |-
                        A user-defined identifier for this brand, typically used to associate the brand with a record in an external system.  Independent from the [merchant reference_id](https://developers.cash.app/docs/api/network-api/operations/create-a-merchant#request-body).

                        *This field cannot be cleared, and must be unique across all brands.*

                        Min length: `1`
                        Max length: `1024`
                      example: example-id
                    profile_image_url:
                      type: string
                      description: |-
                        URL to the image that should be shown in Cash App next to payments made to this brand, typically the brand's logo.

                        The image should be square and be at least 256x256. It must be less than 2MB in filesize.

                        Acceptable image formats:
                        - `png`
                        - `jpg`
                        - `jpeg`

                        *This field cannot be cleared.*

                        Min length: `8`
                        Max length: `8000`
                      minLength: 8
                      maxLength: 8000
                      format: uri
                    color:
                      type: string
                      description: |-
                        Primary color associated with this brand and its logo, in 6-digit hex code format.

                        Pattern: `^#[a-fA-F0-9]{6}$`
                        Min length: `7`
                        Max length: `7`
                      minLength: 7
                      maxLength: 7
                      pattern: '^#[a-fA-F0-9]{6}$'
                      example: '#ffffff'
                      nullable: true
                    metadata:
                      $ref: '#/components/schemas/Metadata'
            examples:
              Sample request with metadata:
                value:
                  brand:
                    name: Out of this World
                    profile_image_url: 'https://example.com'
                    color: '#ffffff'
                    reference_id: external-id
                    metadata:
                      key: value
              Sample request without metadata:
                value:
                  brand:
                    name: Out of this World
                    profile_image_url: 'https://example.com'
                    color: '#ffffff'
                    reference_id: external-id
        description: ''
      description: |-
        Updates a brand matching the provided `brand_id` with the given attributes.

        To clear a field, set it to `null`. Fields that are not provided in the request will not be changed.

        **This endpoint is not rate limited.**

        Scopes: `BRANDS_WRITE`
      tags:
        - Brands
      security:
        - Client:
            - BRANDS_WRITE
  /merchants:
    parameters:
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    get:
      summary: List merchants
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  merchants:
                    type: array
                    uniqueItems: true
                    maxItems: 100
                    minItems: 0
                    description: List of merchants matching the given query parameters.
                    items:
                      $ref: '#/components/schemas/Merchant'
                  cursor:
                    type: string
                    description: 'The pagination cursor to be used in a subsequent request. If empty, this is the final response.'
                    minLength: 1
                required:
                  - merchants
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    minItems: 1
                    items:
                      $ref: '#/components/schemas/Error'
                required:
                  - errors
          headers: {}
      operationId: list-merchants
      description: |-
        Returns a list of merchants matching the given query parameters.

        **This endpoint is rate limited to 50 QPS.**

        Scopes: `MERCHANTS_READ`
      parameters:
        - schema:
            type: string
            minLength: 1
            maxLength: 1024
          in: query
          name: reference_id
          description: Filters results to only include merchants with a `reference_id` matching the given value.
        - schema:
            type: string
            minLength: 1
          in: query
          name: cursor
          description: A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query.
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          in: query
          name: limit
          description: Maximum number of merchants to return.
      tags:
        - Merchants
      security:
        - Client:
            - MERCHANTS_READ
    post:
      summary: Create merchant
      operationId: create-merchant
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                description: ''
                additionalProperties: false
                properties:
                  merchant:
                    $ref: '#/components/schemas/Merchant'
                required:
                  - merchant
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example:
                  value:
                    errors:
                      - category: INVALID_REQUEST_ERROR
                        code: CONFLICT
                        detail: The reference_id 'external-id' is already used by another merchant.
                        field: merchant.reference_id
      description: |-
        Creates a new merchant. Merchants must have an `address` or `site_url` set.

        **This endpoint is not rate limited.**

        Scopes: `MERCHANTS_WRITE`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - idempotency_key
                - merchant
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                merchant:
                  type: object
                  description: Details about the merchant to create.
                  additionalProperties: false
                  required:
                    - name
                    - brand_id
                    - country
                    - currency
                    - category
                    - reference_id
                    - address
                  properties:
                    name:
                      type: string
                      description: |-
                        The name of the individual or business entity associated with the merchant.

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                    brand_id:
                      type: string
                      description: |
                        ID of the brand associated with this merchant.

                        Min length: `1`
                        Max length: `128`
                      minLength: 1
                      maxLength: 128
                    country:
                      $ref: '#/components/schemas/Country'
                    currency:
                      $ref: '#/components/schemas/Currency'
                    category:
                      $ref: '#/components/schemas/Category'
                    reference_id:
                      type: string
                      description: |-
                        A user-defined identifier for this merchant, typically used to associate the merchant with a record in an external system.

                        **Must be unique across all merchants. Independent from the [brand reference_id](https://developers.cash.app/docs/api/network-api/operations/create-a-brand#request-body)**

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                      example: external-id
                    address:
                      $ref: '#/components/schemas/Address'
                    site_url:
                      type: string
                      description: |-
                        The URL of the website, if this merchant is for an eCommerce site.

                        Min length: `8`
                        Max length: `8000`
                      format: uri
                      example: 'https://example.com'
                      minLength: 8
                      maxLength: 8000
                    metadata:
                      $ref: '#/components/schemas/Metadata'
                    default_fee_plans:
                      $ref: '#/components/schemas/MerchantFeePlans'
            examples:
              Sample request with metadata:
                value:
                  idempotency_key: e345c3fb-1caa-46fd-b0d3-aa6c7b00ab19
                  merchant:
                    name: merchant name
                    brand_id: brand ID
                    country: US
                    currency: USD
                    category: '5432'
                    reference_id: reference ID
                    address:
                      address_line_1: 1215 4th Ave
                      address_line_2: Suite 2300
                      locality: Seattle
                      country: US
                      postal_code: 98161-1001
                      administrative_district_level_1: Washington
                    site_url: 'https://example.com'
                    metadata:
                      key: value
                    default_fee_plans:
                      in_app_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      in_person_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      online_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
              Sample request without metadata:
                value:
                  idempotency_key: e345c3fb-1caa-46fd-b0d3-aa6c7b00ab19
                  merchant:
                    name: merchant name
                    brand_id: brand ID
                    country: US
                    currency: USD
                    category: '5432'
                    reference_id: reference ID
                    address:
                      address_line_1: 1215 4th Ave
                      address_line_2: Suite 2300
                      locality: Seattle
                      country: US
                      postal_code: 98161-1001
                      administrative_district_level_1: Washington
                    site_url: 'https://example.com'
                    default_fee_plans:
                      in_app_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      in_person_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      online_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
        description: ''
      tags:
        - Merchants
      security:
        - Client:
            - MERCHANTS_WRITE
    put:
      summary: Upsert merchant
      operationId: upsert-merchant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  merchant:
                    $ref: '#/components/schemas/Merchant'
                required:
                  - merchant
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  merchant:
                    $ref: '#/components/schemas/Merchant'
                required:
                  - merchant
            application/xml:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      description: |-
        Creates or updates a merchant based on the merchant's `reference_id`.

        If a merchant with a matching `reference_id` is found, 
        it will be updated. If no matching merchant is found,
        a new one will be created.

        The HTTP response code (`200 OK` or `201 Created`) indicates
        whether the resource was updated or created, respectively.

        <Info>
         `merchant_id` is the primary unique identifier for all Merchant APIs.
         Be cautious when using `reference_id` as a unique identifier.
        
         Merchants must have an `address` or `site_url` set.
         </Info>


        **This endpoint is not rate limited.**

        Scopes: `MERCHANTS_WRITE`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - merchant
              properties:
                merchant:
                  type: object
                  description: Details about the merchant to create or update.
                  additionalProperties: false
                  required:
                    - name
                    - brand_id
                    - country
                    - currency
                    - category
                    - reference_id
                    - address
                  properties:
                    name:
                      type: string
                      description: |-
                        The name of the individual or business entity associated with the merchant.

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                    brand_id:
                      type: string
                      description: |-
                        ID of the brand associated with this merchant.

                        Min length: `1`
                        Max length: `128`
                      minLength: 1
                      maxLength: 128
                    country:
                      $ref: '#/components/schemas/Country'
                    currency:
                      $ref: '#/components/schemas/Currency'
                    category:
                      $ref: '#/components/schemas/Category'
                    reference_id:
                      type: string
                      description: |-
                        A user-defined identifier for this merchant, typically used to associate the merchant with a record in an external system.

                        **Must be unique across all merchants. Independent from the [brand reference_id](https://developers.cash.app/docs/api/network-api/operations/create-a-brand#request-body).**

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                    address:
                      $ref: '#/components/schemas/Address'
                    site_url:
                      type: string
                      format: uri
                      description: |-
                        The URL of the website, if this merchant is for an eCommerce site.

                        Min length: `8`
                        Max length: `8000`
                      minLength: 8
                      maxLength: 8000
                    metadata:
                      $ref: '#/components/schemas/Metadata'
                    default_fee_plans:
                      $ref: '#/components/schemas/MerchantFeePlans'
            examples:
              Sample request with metadata:
                value:
                  merchant:
                    name: merchant name
                    brand_id: brand ID
                    country: US
                    currency: USD
                    category: '5432'
                    reference_id: reference ID
                    address:
                      address_line_1: 1215 4th Ave
                      address_line_2: Suite 2300
                      locality: Seattle
                      country: US
                      postal_code: 98161-1001
                      administrative_district_level_1: Washington
                    site_url: 'http://example.com'
                    metadata:
                      key: value
                    default_fee_plans:
                      in_app_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      in_person_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      online_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
              Sample request without metadata:
                value:
                  merchant:
                    name: merchant name
                    brand_id: brand ID
                    country: US
                    currency: USD
                    category: '5432'
                    reference_id: reference ID
                    address:
                      address_line_1: 1215 4th Ave
                      address_line_2: Suite 2300
                      locality: Seattle
                      country: US
                      postal_code: 98161-1001
                      administrative_district_level_1: Washington
                    site_url: 'http://example.com'
                    default_fee_plans:
                      in_app_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      in_person_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      online_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
        description: ''
      tags:
        - Merchants
      security:
        - Client:
            - MERCHANTS_WRITE
  '/merchants/{merchant_id}':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 128
          example: MMI_4vxs5egfk7hmta3qx2h6rp91x
        name: merchant_id
        in: path
        required: true
        description: ID of the merchant.
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    get:
      summary: Retrieve merchant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  merchant:
                    $ref: '#/components/schemas/Merchant'
                required:
                  - merchant
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: retrieve-merchant
      description: |-
        Returns a merchant matching the given `merchant_id`.

        **This endpoint is not rate limited.**

        Scopes: `MERCHANTS_READ`
      tags:
        - Merchants
      security:
        - Client:
            - MERCHANTS_READ
    patch:
      summary: Update merchant
      operationId: update-merchant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  merchant:
                    $ref: '#/components/schemas/Merchant'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - merchant
              properties:
                merchant:
                  type: object
                  description: Details about the merchant to update.
                  additionalProperties: false
                  properties:
                    brand_id:
                      type: string
                      description: |-
                        ID of the brand associated with this merchant.

                        *This field cannot be cleared.*

                        Min length: `1`
                        Max length: `128`
                      minLength: 1
                      maxLength: 128
                    category:
                      $ref: '#/components/schemas/Category'
                    country:
                      $ref: '#/components/schemas/Country'
                    currency:
                      $ref: '#/components/schemas/Currency'
                    name:
                      type: string
                      minLength: 1
                      description: |-
                        The name of the individual or business entity associated with the merchant.

                        *This field cannot be cleared.*

                        Min length: `1`
                        Max length: `1024`
                      maxLength: 1024
                    reference_id:
                      type: string
                      description: |-
                        A user-defined identifier for this merchant, typically used to associate the merchant with a record in an external system. Independent from the [brand reference_id](https://developers.cash.app/docs/api/network-api/operations/create-a-brand#request-body).

                        *This field cannot be cleared, and must be unique across all merchants.*

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                      example: external-id
                    address:
                      $ref: '#/components/schemas/Address'
                    site_url:
                      type: string
                      format: uri
                      description: |-
                        The URL of the website, if this merchant is an eCommerce site.

                        Min length: `8`
                        Max length: `8000`
                      maxLength: 8000
                      minLength: 8
                      example: 'https://example.com'
                      nullable: true
                    status:
                      type: string
                      enum:
                        - ACTIVE
                        - CLIENT_DISABLED
                      description: |-
                        Whether or not this merchant can be used to accept payments or issue refunds.

                        **Note:** when the value is `PENDING`, `COMPLIANCE_DISABLED`, or `RISK_DISABLED`, the status of the merchant cannot be changed.

                        Current values:
                        - `ACTIVE`: The merchant can accept payments and issue refunds.
                        - `CLIENT_DISABLED`: The merchant has been disabled by the API client, and may be re-enabled by the API client at any time.
                    metadata:
                      $ref: '#/components/schemas/Metadata'
                    default_fee_plans:
                      $ref: '#/components/schemas/MerchantFeePlans'
            examples:
              Sample request with metadata:
                value:
                  merchant:
                    brand_id: brand ID
                    category: '5432'
                    country: US
                    currency: USD
                    name: merchant name
                    reference_id: reference ID
                    address:
                      address_line_1: 1215 4th Ave
                      address_line_2: Suite 2300
                      locality: Seattle
                      country: US
                      postal_code: 98161-1001
                      administrative_district_level_1: Washington
                    site_url: 'https://example.com'
                    status: ACTIVE
                    metadata:
                      key: value
                    default_fee_plans:
                      in_app_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      in_person_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      online_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
              Sample request without metadata:
                value:
                  merchant:
                    brand_id: brand ID
                    category: '5432'
                    country: US
                    currency: USD
                    name: merchant name
                    reference_id: reference ID
                    address:
                      address_line_1: 1215 4th Ave
                      address_line_2: Suite 2300
                      locality: Seattle
                      country: US
                      postal_code: 98161-1001
                      administrative_district_level_1: Washington
                    site_url: 'https://example.com'
                    status: ACTIVE
                    default_fee_plans:
                      in_app_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      in_person_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
                      online_fee_plan_id: FEE_kewjsmjt35t8qhzyjeqcst5me
        description: ''
      description: |-
        Updates a merchant matching the provided `merchant_id` with the given attributes.

        To clear a field, set it to `null`. Fields that are not provided in the request will not be changed.

        **This endpoint is not rate limited.**

        Scopes: `MERCHANTS_WRITE`
      tags:
        - Merchants
      security:
        - Client:
            - MERCHANTS_WRITE
  /orders:
    parameters:
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    get:
      summary: List orders
      operationId: list-orders
      description: |-
        Returns a list of orders matching the given query parameters.

        **This endpoint is not rate-limited.**

        Scopes: `ORDERS_READ`
      security:
        - Client:
            - ORDERS_READ
      tags:
        - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  orders:
                    type: array
                    uniqueItems: true
                    minItems: 0
                    description: A list of orders matching the given query parameters.
                    items:
                      $ref: '#/components/schemas/Order'
                  cursor:
                    type: string
                    description: 'The pagination cursor to be used in a subsequent request. If empty, this is the final response.'
                required:
                  - payments
              examples: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
        - schema:
            type: string
            minLength: 1
            maxLength: 1024
            example: external-id
          in: query
          name: reference_id
          description: Filters results to include only the orders with a `reference_id` matching the given value.
        - schema:
            type: string
            minLength: 1
            maxLength: 128
            example: CST_AQmxh4y_QGoNNIG5NUw0jttqyYedL1LklACQdyJ3H-Vs6WmLtP6A_C7XjQNohvY
          in: query
          name: customer_id
          description: Filters results to include only the orders initiated by a customer that match the the given ID.
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          in: query
          name: limit
          description: Maximum number of orders to return.
        - schema:
            type: string
            minLength: 1
          in: query
          name: cursor
          description: A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query.
      x-internal: true
    post:
      summary: Create order
      operationId: create-order
      description: |-
        Creates an order.

        **This endpoint is not rate-limited.**

        Scopes: `ORDERS_WRITE`
      security:
        - Client:
            - ORDERS_WRITE
      tags:
        - Orders
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: |-
                      A list of errors indicating why the request failed.
                       
                      Min number of items: `1`
                    minItems: 1
                    uniqueItems: true
                    items:
                      $ref: '#/components/schemas/Error'
                required:
                  - errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                order:
                  type: object
                  description: The data about the order that you must create.
                  required:
                    - reference_id
                    - subtotal_amount
                    - total_amount
                  additionalProperties: false
                  properties:
                    merchant_id:
                      type: string
                      minLength: 1
                      description: |-
                        The ID of the merchant to whom you have to make the payment.

                        Min length: `1`
                        Max length: `128`
                      maxLength: 128
                      example: MMI_4vxs5egfk7hmta3qx2h6rp91x
                    reference_id:
                      type: string
                      description: |-
                        A user-defined identifier for this order, typically used to associate the order with a record in an external system.

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                      example: external-id
                    grant_id:
                      type: string
                      description: |-
                        A grant ID from the Customer Request API that indicates permission to take the payment for this order.

                        Min length: `1`
                        Max length: `256`
                      minLength: 1
                      maxLength: 256
                      example: GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50
                    payments:
                      description: A list of payments associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderPayment'
                    refunds:
                      description: A list of refunds associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderRefund'
                    line_items:
                      description: A list of items associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderLineItem'
                    discounts:
                      description: A list of discounts associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderDiscount'
                    taxes:
                      description: A list of taxes associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderTax'
                    service_charges:
                      description: A list of service charges associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderServiceCharge'
                    shipping_charges:
                      description: A list of shipping charges associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderShippingCharge'
                    subtotal_amount:
                      type: integer
                      description: 'The amount of the order before service charges, shipping charges, taxes, and `ORDER`-scoped discounts.'
                      minimum: 0
                    total_amount:
                      type: integer
                      description: 'The total amount to be collected for this order, in the lowest denomination of the currency on the order.'
                      minimum: 0
                    currency:
                      $ref: '#/components/schemas/Currency'
                    metadata:
                      $ref: '#/components/schemas/Metadata'
                validate_amounts:
                  $ref: '#/components/schemas/ValidateOrderAmountsParam'
              required:
                - idempotency_key
                - order
        description: ''
      x-internal: true
    put:
      summary: Upsert order
      operationId: upsert-order
      description: |-
        Creates or updates an order based on the order's `client_id` and `reference_id`.

        If an order with a matching `client_id` and `reference_id` is found, it will be updated. If no matching order is found, a new one will be created.

        The HTTP response codes (`200 OK` or `201 Created`) indicate if the resource was updated or created, respectively.

        **This endpoint is not rate-limited.**

        Scopes: `ORDERS_WRITE`
      security:
        - Client:
            - ORDERS_WRITE
      tags:
        - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: |-
                      A list of errors indicating why the request failed.

                      Min number of items: `1`
                    minItems: 1
                    uniqueItems: true
                    items:
                      $ref: '#/components/schemas/Error'
                required:
                  - errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order:
                  type: object
                  description: The data about the order that you must upsert.
                  required:
                    - reference_id
                    - subtotal_amount
                    - total_amount
                  properties:
                    merchant_id:
                      type: string
                      minLength: 1
                      description: |-
                        The ID of the merchant to whom you have to make the payment.
                        Min length: `1`
                        Max length: `128`
                      maxLength: 128
                      example: MMI_4vxs5egfk7hmta3qx2h6rp91x
                    reference_id:
                      type: string
                      description: |-
                        A user-defined identifier for this order, typically used to associate the order with a record in an external system.
                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                      example: external-id
                    grant_id:
                      type: string
                      description: |-
                        A grant ID from the Customer Request API that indicates permission to take the payment for this order.
                        Min length: `1`
                        Max length: `256`
                      minLength: 1
                      maxLength: 256
                      example: GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50
                    payments:
                      description: A list of payments associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderPayment'
                    refunds:
                      description: A list of refunds associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderRefund'
                    line_items:
                      description: A list of items associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderLineItem'
                    discounts:
                      description: A list of discounts associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderDiscount'
                    taxes:
                      description: A list of taxes associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderTax'
                    service_charges:
                      description: A list of service charges associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderServiceCharge'
                    shipping_charges:
                      description: A list of shipping charges associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderShippingCharge'
                    subtotal_amount:
                      type: integer
                      description: 'The amount of the order before service charges, shipping charges, taxes, and `ORDER`-scoped discounts.'
                      minimum: 0
                    total_amount:
                      type: integer
                      description: 'The total amount to be collected for this order, in the lowest denomination of the currency on the order.'
                      minimum: 0
                    currency:
                      $ref: '#/components/schemas/Currency'
                    metadata:
                      $ref: '#/components/schemas/Metadata'
                validate_amounts:
                  $ref: '#/components/schemas/ValidateOrderAmountsParam'
              required:
                - order
        description: ''
      x-internal: true
  '/orders/{order_id}':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 255
          example: ORD_cftn3j6ruw1n4eualolza7l8g
        name: order_id
        in: path
        required: true
        description: The ID of the order that you have to retrieve.
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    get:
      summary: Retrieve order
      operationId: retrieve-order
      tags:
        - Orders
      description: |-
        Retrieves an order by its ID.

        **This endpoint is not rate-limited.**

        Scopes: `ORDERS_READ`
      security:
        - Client:
            - ORDERS_READ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
                required:
                  - order
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      $ref: '#/components/schemas/Error'
                required:
                  - errors
      x-internal: true
    patch:
      summary: Update order
      operationId: update-order
      tags:
        - Orders
      description: |-
        Updates an order matching the provided `order_id` with the given attributes. Payments and
        refunds can be associated to an order using this endpoint. 

        To clear a field, set it to `null`. Fields that are not provided in the request will not be changed.

        **This endpoint is not rate-limited.**

        Scopes: `ORDERS_WRITE`
      security:
        - Client:
            - ORDERS_WRITE
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                order:
                  type: object
                  description: The data about the order that you want to update.
                  properties:
                    reference_id:
                      type: string
                      description: |-
                        A user-defined identifier for this order, typically used to associate the order with a record in an external system.

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                      example: external-id
                    merchant_id:
                      type: string
                      description: |-
                        The ID of the merchant to whom you have to make the payment.

                        Min length: `1`
                        Max length: `128`
                      nullable: true
                      minLength: 1
                      maxLength: 128
                      example: MMI_4vxs5egfk7hmta3qx2h6rp91x
                    grant_id:
                      type: string
                      description: |-
                        The ID of the grant associated with this order.

                        Min length: `1`
                        Max length: `256`
                      nullable: true
                      minLength: 1
                      maxLength: 256
                      example: GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50
                    payments:
                      description: A list of payments associated with this order.
                      type: array
                      nullable: true
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderPayment'
                    refunds:
                      description: A list of refunds associated with this order.
                      type: array
                      nullable: true
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderRefund'
                    line_items:
                      description: A list of items associated with this order.
                      type: array
                      nullable: true
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderLineItem'
                    discounts:
                      description: A list of discounts associated with this order.
                      type: array
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderDiscount'
                    taxes:
                      description: A list of taxes associated with this order.
                      type: array
                      nullable: true
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderTax'
                    service_charges:
                      description: A list of service charges associated with this order.
                      type: array
                      nullable: true
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderServiceCharge'
                    shipping_charges:
                      description: A list of shipping charges associated with this order.
                      type: array
                      nullable: true
                      uniqueItems: true
                      items:
                        $ref: '#/components/schemas/OrderShippingCharge'
                    subtotal_amount:
                      type: integer
                      description: 'The amount of the order before service charges, shipping charges, taxes, and `ORDER`-scoped discounts.'
                      minimum: 0
                    total_amount:
                      type: integer
                      description: 'The total amount to be collected for this order, in the lowest denomination of the currency on the order.'
                      minimum: 0
                    metadata:
                      $ref: '#/components/schemas/Metadata'
                  required:
                    - reference_id
                    - subtotal_amount
                    - total_amount
                version:
                  description: |-
                    The current version of the order, used to enforce optimistic concurrency.

                    If no version is passed, the update will be treated as valid and will be allowed, regardless of the current order version.

                    If the passed version does not match the current version of the order, the update will be rejected and the endpoint will return an error.
                  type: integer
                  minimum: 0
                validate_amounts:
                  $ref: '#/components/schemas/ValidateOrderAmountsParam'
              required:
                - order
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: |-
                      A list of errors indicating why the request failed.

                      Min number of items: `1`
                    minItems: 1
                    uniqueItems: true
                    items:
                      $ref: '#/components/schemas/Error'
                required:
                  - errors
      x-internal: true
  '/orders/{order_id}/submit':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 255
          example: ORD_cftn3j6ruw1n4eualolza7l8g
        name: order_id
        in: path
        required: true
        description: The ID of the order that you have to submit.
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    post:
      summary: Submit order
      operationId: submit-order
      description: |-
        Submits an order. A `grant_id` must exist in the submitted order.

        **This endpoint is not rate-limited.**

        Scopes: `ORDERS_WRITE`
      security:
        - Client:
            - ORDERS_WRITE
      tags:
        - Orders
      responses:
        '200':
          description: Submitted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  order:
                    $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: |-
                      A list of errors indicating why the request failed.

                      Min number of items: `1`
                    minItems: 1
                    uniqueItems: true
                    items:
                      $ref: '#/components/schemas/Error'
                required:
                  - errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
              required:
                - idempotency_key
        description: ''
      x-internal: true
  /payments:
    parameters:
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    get:
      summary: List payments
      tags:
        - Payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  payments:
                    type: array
                    uniqueItems: true
                    minItems: 0
                    maxItems: 100
                    description: List of payments matching the given query parameters.
                    items:
                      $ref: '#/components/schemas/Payment'
                  cursor:
                    type: string
                    description: 'The pagination cursor to be used in a subsequent request. If empty, this is the final response.'
                required:
                  - payments
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: list-payments
      description: |-
        Returns a list of payments matching the given query parameters.

        **This endpoint is rate limited to 100 QPS.**

        Scopes: `PAYMENTS_READ`
      parameters:
        - schema:
            type: string
            minLength: 1
          in: query
          name: cursor
          description: A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query.
        - schema:
            type: string
            minLength: 1
            maxLength: 1024
            example: external-id
          in: query
          name: reference_id
          description: Filters results to only include payments with a `reference_id` matching the given value.
        - schema:
            type: string
            minLength: 1
            maxLength: 128
            example: AUTH_24g7nq7m1je9b6fnzbtvwzqej
          in: query
          name: customer_id
          description: Filters results to only include payments made by a customer that matches the the given ID.
        - schema:
            type: string
            minLength: 1
            maxLength: 128
            example: MMI_4vxs5egfk7hmta3qx2h6rp91x
          in: query
          name: merchant_id
          description: Filters results to only include payments made to a merchant that matches the the given ID.
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          in: query
          name: limit
          description: Maximum number of payments to return.
      security:
        - Client:
            - PAYMENTS_READ
    post:
      summary: Create payment
      operationId: create-payment
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  payment:
                    $ref: '#/components/schemas/Payment'
        '400':
          description: |-
            Bad Request

            If a `PAYMENT_DECLINE_*` error is returned, the payment will still be created, but with a `DECLINED` status. This payment will then appear in the response payload.

            > **Note: `PAYMENT_DECLINE_*` errors consume one-time use grants.**
            > This means you must repeat the Customer Request flow to get a new grant if you want to try taking the payment again. All other errors will not consume grants.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: |-
                      A list of errors indicating why the request failed.

                      Min number of items: `1`
                    minItems: 1
                    uniqueItems: true
                    items:
                      $ref: '#/components/schemas/Error'
                  payment:
                    $ref: '#/components/schemas/Payment'
                required:
                  - errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                payment:
                  type: object
                  description: Data about the payment to create.
                  required:
                    - amount
                    - currency
                    - merchant_id
                    - grant_id
                  additionalProperties: false
                  properties:
                    amount:
                      type: integer
                      minimum: 0
                      example: 100
                      description: |-
                        The amount of money to charge the customer, in the lowest denomination of currency for the payment.

                        Min value: `1`
                    currency:
                      $ref: '#/components/schemas/Currency'
                    merchant_id:
                      type: string
                      minLength: 1
                      description: |-
                        ID of the merchant to make the payment to.

                        Min length: `1`
                        Max length: `128`
                      maxLength: 128
                      example: MMI_4vxs5egfk7hmta3qx2h6rp91x
                    grant_id:
                      type: string
                      description: |-
                        A grant ID from the Customer Request API that indicates permission to take the payment.

                        Min length: `1`
                        Max length: `256`
                      minLength: 1
                      maxLength: 256
                      example: GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50
                    reference_id:
                      type: string
                      example: external-id
                      description: |-
                        A user-defined identifier for this payment, typically used to associate the payment with a record in an external system.

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                    capture:
                      type: boolean
                      default: true
                      description: |-
                        Whether or not to automatically capture the payment once it's created.

                        Default: `true`
                    metadata:
                      $ref: '#/components/schemas/Metadata'
                    enrichments:
                      $ref: '#/components/schemas/PaymentEnrichments'
              required:
                - idempotency_key
                - payment
            examples:
              Sample request with metadata:
                value:
                  idempotency_key: e345c3fb-1caa-46fd-b0d3-aa6c7b00ab19
                  payment:
                    amount: 100
                    currency: USD
                    merchant_id: MMI_4vxs5egfk7hmta3qx2h6rp91x
                    grant_id: GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50
                    reference_id: external-id
                    capture: true
                    metadata:
                      key: value
                    enrichments:
                      recurring_series_id: string
              Sample request without metadata:
                value:
                  idempotency_key: e345c3fb-1caa-46fd-b0d3-aa6c7b00ab19
                  payment:
                    amount: 100
                    currency: USD
                    merchant_id: MMI_4vxs5egfk7hmta3qx2h6rp91x
                    grant_id: GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50
                    reference_id: external-id
                    capture: true
                    enrichments:
                      recurring_series_id: string
        description: ''
      description: |-
        Creates a payment from a customer to a merchant.


        > **Note**: Creating a payment requires a grant that is associated with the `ON_FILE_PAYMENT` or `ONE_TIME_PAYMENT` actions. To generate a grant, use the Customer Request API.

        **This endpoint is not rate limited.**

        Scopes: `PAYMENTS_WRITE`
      tags:
        - Payments
      security:
        - Client:
            - PAYMENTS_WRITE
  '/payments/{payment_id}':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 128
          example: PWC_4nn21zy6t0v2yhqg5bvhk7xkq
        name: payment_id
        in: path
        required: true
        description: ID of the payment to retrieve.
        explode: false
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    get:
      summary: Retrieve payment
      tags:
        - Payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  payment:
                    $ref: '#/components/schemas/Payment'
                required:
                  - payment
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      $ref: '#/components/schemas/Error'
                required:
                  - errors
      operationId: retrieve-payment
      description: |-
        Retrieves a payment by its ID.

        **This endpoint is not rate limited.**

        Scopes: `PAYMENTS_READ`
      security:
        - Client:
            - PAYMENTS_READ
  '/payments/{payment_id}/authorizations':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 128
          example: PWC_4nn21zy6t0v2yhqg5bvhk7xkq
        name: payment_id
        in: path
        required: true
        description: ID of the payment to create an authorization for.
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    post:
      summary: Create incremental authorization
      operationId: create-payment-authorization
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  authorization:
                    $ref: '#/components/schemas/Authorization'
                required:
                  - authorization
        '400':
          description: |-
            Bad Request

            If a AUTHORIZATION_DECLINE_* error is returned, the authorization will still be created, but with a DECLINED status. This authorization will then appear in the response payload.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    description: |-
                      A list of errors indicating why the request failed.
                       
                      Min number of items: `1`
                    minItems: 1
                    uniqueItems: true
                    items:
                      $ref: '#/components/schemas/Error'
                  authorization:
                    $ref: '#/components/schemas/Authorization'
                required:
                  - errors
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Payments
      description: |-
        Creates an authorization update for a payment. The authorization amount must be greater than or equal to the current authorized amount.

        Use this endpoint for incremental authorization instead of overcapturing using the Capture payment endpoint. By creating additional payment authorizations exceeding the current authorized amount, you can request additional funds without risking the original amount being declined.

        **This endpoint is not rate limited.** 

        Scopes: `PAYMENTS_WRITE`
      security:
        - Client:
            - PAYMENTS_WRITE
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                authorization:
                  type: object
                  description: Details about the authorization to create.
                  required:
                    - amount
                    - currency
                  additionalProperties: false
                  properties:
                    amount:
                      example: 100
                      type: integer
                      minimum: 1
                      description: |-
                        The updated total amount of money to collect from the customer, in the lowest denomination of currency for the payment.
                        This value must be greater than or equal to the current authorized amount
                    currency:
                      $ref: '#/components/schemas/Currency'
                    reference_id:
                      example: abcde
                      type: string
                      description: |-
                        A user-defined identifier for this authorization, typically used to associate the authorization with a record in an external system.

                        Min length: `1`
                        Max length: `1024`
                      minLength: 1
                      maxLength: 1024
                    metadata:
                      $ref: '#/components/schemas/Metadata'
              required:
                - idempotency_key
                - authorization
  '/payments/{payment_id}/capture':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 128
          example: PWC_4nn21zy6t0v2yhqg5bvhk7xkq
        name: payment_id
        in: path
        required: true
        description: ID of the payment to capture.
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    post:
      summary: Capture payment
      operationId: capture-payment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  payment:
                    $ref: '#/components/schemas/Payment'
                required:
                  - payment
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Payments
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                amount:
                  type: integer
                  minimum: 1
                  example: 100
                  description: |-
                    The amount of money to collect from the customer, in the lowest denomination of currency for the payment.

                    To over-capture or under-capture the payment, set this field to a different value from the current payment amount.

                    Min value: `1`
              required:
                - idempotency_key
                - amount
      description: |-
        Updates a payment with the given amount and finalizes it so that it can be paid out in the next nightly settlement batch.

        **This endpoint is not rate limited.**

        Scopes: `PAYMENTS_WRITE`
      security:
        - Client:
            - PAYMENTS_WRITE
  '/payments/{payment_id}/void':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 128
          example: PWC_4nn21zy6t0v2yhqg5bvhk7xkq
        name: payment_id
        in: path
        required: true
        description: ID of the payment to void.
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    post:
      summary: Void payment
      operationId: void-payment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  payment:
                    $ref: '#/components/schemas/Payment'
                required:
                  - payment
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Payments
      description: |-
        Moves an authorized payment to the voided state and releases the payment authorization from the customer's Cash App account.

        > **Note**: You can only void an authorized payment. If a payment is captured, refund it instead. You cannot void any payment that has had an attempted capture. Authorizations not captured within seven days are automatically voided.

        This endpoint will return a success message if the payment was successfully voided _or_ if the payment was previously voided.

        **This endpoint is not rate limited.**

        Scopes: `PAYMENTS_WRITE`

        Payment voids can be processed synchronously or asynchronously depending on payment type. The majority of voids are made synchronously.
      security:
        - Client:
            - PAYMENTS_WRITE
  /payments/void-by-idempotency-key:
    parameters:
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    post:
      summary: Void payment by idempotency key
      tags:
        - Payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  payment:
                    $ref: '#/components/schemas/Payment'
                required:
                  - payment
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example-1:
                  value:
                    errors:
                      - category: INVALID_REQUEST_ERROR
                        code: string
                        detail: string
                        field: 'field_a[2].field_b'
      operationId: void-payment-by-idempotency-key
      description: |-
        Moves an authorized payment to the voided state and releases the payment authorization from the customer's Cash App account.

        > **Note**: You can only void an authorized payment. If a payment is captured, refund the payment instead.
        >
        > You cannot void any payment that has had an attempted capture. Authorizations not captured within seven days are automatically voided.

        This endpoint will return a success message if the payment was successfully voided _or_ if the payment was previously voided.

        **This endpoint is not rate limited.**

        Scopes: `PAYMENTS_WRITE`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                idempotency_key:
                  type: string
                  description: 'Idempotency key used in the [create payment](Network-API.v1.yaml/paths/~1payments/post) request for the payment you want to void.'
                  minLength: 1
                  maxLength: 64
              required:
                - idempotency_key
      security:
        - Client:
            - PAYMENTS_WRITE
  /refunds:
    parameters:
      - $ref: ./components/parameters/Region.yaml
      - $ref: ./components/parameters/Signature.yaml
      - $ref: ./components/parameters/Accept.yaml
    get:
      summary: List refunds
      tags:
        - Refunds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  refunds:
                    type: array
                    uniqueItems: true
                    maxItems: 100
                    minItems: 0
                    description: List of refunds matching the given query parameters.
                    items:
                      $ref: '#/components/schemas/Refund'
                  cursor:
                    type: string
                    description: 'The pagination cursor to be used in a subsequent request. If empty, this is the final response.'
                required:
                  - refunds
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: list-refunds
      parameters:
        - schema:
            type: string
            minLength: 1
          in: query
          name: cursor
          description: A pagination cursor returned by a previous call to this endpoint. Provide this cursor to retrieve the next set of results for the original query.
        - schema:
            type: string
            minLength: 1
            maxLength: 1024
            example: external-id
          in: query
          name: reference_id
          description: Filters results to only include refunds with a `reference_id` matching the given value.
        - schema:
            type: string
            minLength: 1
            maxLength: 128
            example: AUTH_24g7nq7m1je9b6fnzbtvwzqej
          in: query
          name: customer_id
          description: Filters results to only include refunds made to a customer that matches the the given ID.
        - schema:
            type: string
            example: MMI_4vxs5egfk7hmta3qx2h6rp91x
            minLength: 1
            maxLength: 128
          in: query
          name: merchant_id
          description: Filters results to only include refunds made by a merchant that matches the given ID.
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          in: query
          name: limit
          description: Maximum number of refunds to return.
      description: |-
        Returns a list of refunds matching the given query parameters.

        **This endpoint is rate limited to 100 QPS.**

        Scopes: `REFUNDS_READ`
      security:
        - Client:
            - REFUNDS_READ
    post:
      summary: Create refund
      operationId: create-refund
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  refund:
                    $ref: '#/components/schemas/Refund'
                required:
                  - refund
              examples: {}
        '400':
          description: |-
            Bad Request

            If a `REFUND_DECLINE_*` error is returned, the refund will still be created, but with a `DECLINED` status. This refund will then appear in the response payload.

            > **Note: `REFUND_DECLINE_*` errors consume one-time use grants.**
            > This means you must repeat the Customer Request flow to get a new grant if you want to try issuing
            > the refund again. All other errors will not consume grants.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  errors:
                    type: array
                    minItems: 1
                    uniqueItems: true
                    description: A list of errors that occurred while processing the request.
                    items:
                      $ref: '#/components/schemas/Error'
                  refund:
                    $ref: '#/components/schemas/Refund'
                required:
                  - errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                idempotency_key:
                  $ref: '#/components/schemas/IdempotencyKey'
                refund:
                  type: object
                  description: Details about the refund to create.
                  required:
                    - amount
                    - currency
                    - merchant_id
                  additionalProperties: false
                  properties:
                    amount:
                      type: integer
                      minimum: 1
                      description: |-
                        The amount of money to refund the customer, in the lowest denomination of currency for the refund.

                        Min value: `1`
                      example: 1500
                    currency:
                      $ref: '#/components/schemas/Currency'
                    merchant_id:
                      type: string
                      description: |-
                        ID of the merchant to make the refund from.

                        Min length: `1`
                        Max length: `128`
                      minLength: 1
                      maxLength: 128
                    payment_id:
                      type: string
                      description: |-
                        For refunds, this is the ID of the payment to refund.

                        Min length: `1`
                        Max length: `128`
                      minLength: 1
                      maxLength: 128
                      example: PWC_4nn21zy6t0v2yhqg5bvhk7xkq
                    capture:
                      type: boolean
                      default: true
                      description: |-
                        Whether or not to automatically capture the refund once it's created.

                        Default: `true`
                    reference_id:
                      type: string
                      minLength: 1
                      maxLength: 1024
                      example: external-id
                      description: |-
                        A user-defined identifier for this refund, typically used to associate the refund with a record in an external system.

                        Min length: `1`
                        Max length: `1024`
                    metadata:
                      $ref: '#/components/schemas/Metadata'
              required:
                - idempotency_key
                - refund
            examples:
              Create a $1 (USD) Refund (with metadata):
                value:
                  idempotency_key: 178f2318-a335-4be2-9792-6259a8887874
                  refund:
                    amount: 100
                    currency: USD
                    merchant_id: MMI_4vxs5egfk7hmta3qx2h6rp91x
                    capture: true
                    payment_id: PWC_etdng09kyyqf5zr583v8xcs2k
                    reference_id: external-id
                    metadata:
                      key: value
        description: ''
      tags:
        - Refunds
      description: |-
        Creates a refund from a merchant to a customer.

        - To issue a refund, provide a `payment_id` in the request. 

        The grant must be associated with the `ON_FILE_PAYMENT` actions.

        To generate a grant to pass to this field, use the Customer Request API.

        **This endpoint is not rate limited.**

        Scopes: `REFUNDS_WRITE`
      security:
        - Client:
            - REFUNDS_WRITE
  '/refunds/{refund_id}':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 128
          example: PWCR_da1v3j4p3z15y47adpzzq0whj
[...]
